<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MM  News</title>

    <link rel="stylesheet" href="/index.css" />
</head>
<body>
    <div class="mainBody">
        <%- include("nav") -%>
        
        <div class="mainBody">
           <div class="contactContainer">
            <h3> Not available right now </h3>
           </div>
        </div>
    </div>
</body>
</html>