<div class="footerContainer">

    <a href="/" class="footTitle">  MM Cele  </a>
 
    <div class="menuContainer">
     <a href="/posts" class="posts">Posts</a>
     <a href="/contact" class="contactUs">Contact Us</a>
    </div>
    
 </div>

 <div class="thank"> Thank You For Visiting </div>