

<div class="navContainer">
   <a href="/" class="navTitle">  MM Cele  </a>

   <div class="menuContainer">
    <a href="/posts" class="posts">Posts</a>
    <a href="/contact" class="contactUs">Contact Us</a>
   </div>
</div>