body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: black; */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.mainBody {
    max-width: 800px;
    min-height: 100vh;
    background-color: rgb(254, 254, 254);
    margin: 0 auto;
}

.navContainer {
    background: linear-gradient(120deg,blueviolet,rgb(166, 29, 201));
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
}

.navTitle {
    display: flex;
    flex: 1;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.title {
    padding: .5rem;
    background: linear-gradient(120deg,blueviolet,rgb(166, 29, 201));
    margin: 0 ;
    display: block;
    margin: 0 .2rem;
    color: #fff;
    font-weight: 600;
}

.menuContainer {
    font-size: 1rem;
    color: white;
    font-weight: 600;
    
}

.menuContainer a {
    cursor: pointer;
    margin-right: 1rem;
    color: white;
}

.postCard {
    width: 96%;
    max-width: 600px;
    background-color: rgb(224, 218, 226);
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin: .5rem auto 0 auto  ;
    outline: none;
    /* border: 2px solid rgba(255, 255, 255, 0.208); */
    box-shadow: 1px 1px 1px rgba(165, 165, 165, 0.812);
    /* padding: .1rem; */
}

.postCardImage {
    width: 40%;
    height: 120px;
    object-fit: cover;
    object-position: top;
}



.info {
    display: flex;
    flex: 1;
    min-height: 120px;
    /* background-color: gold; */
    display: flex;
    flex-direction: column;
}

.infoTitle {
    display: flex;
    flex: 1;
    /* background-color: rgba(255, 255, 255, 0.146); */
    align-items: center;
    justify-content: flex-start;
    padding-inline: .5rem;
    /* font-weight: 700; */
}

.cardInfo {
    display: flex;
    flex-direction: row;
    /* align-self: flex-end; */
    background-color: rgba(243, 240, 240, 0.087);
    justify-content: space-between;
    align-items: center;
    font-size: .7rem;
    padding:  .2rem;
}

.cardInfoTime {
    font-size: .6rem;
    font-style: italic;

}



/* details */

.detailsContainer {
    padding-bottom: 3rem;
    background-color: rgb(255, 255, 255);
}

.detailsContainer h3 {
    text-align: center;
}

.detailsInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:  .5rem;
}

.detailsInfo span {
    font-size: .8rem;
    font-style: italic;
}

.detailsFeatureImage {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: top;
    background-color: aqua;
    margin: 0;
    /* height: 400px; */
}

.detailsImage {
    width: 100%;
}

p {
    padding: .5rem;
    line-height: 2rem;
}


.contentWrapper {
    min-height: 90vh;
}

.adWrapper {
    text-align: center;
}



/* contact */

.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}



.footerContainer {
    /* background-color: blueviolet; */
    background: linear-gradient(120deg,blueviolet,rgb(166, 29, 201));
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px dotted rgb(255, 255, 255);
}



.footTitle {
    display: flex;
    flex: 1;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.thank {
    width: 100%;
    background: linear-gradient(120deg,blueviolet,rgb(166, 29, 201));
    text-align: center;
    padding-block: 2rem;
    color: white;
    font-weight: 700;
}


@media only screen and (max-width: 380px) {
    .menuContainer {
        font-size: .9rem;
    }
  }